#body1 {
    margin: 0%;
    padding: 0%;
    border: 0;
    color: black;
    background-color: black;
}

.gamewindow {
    width: 99vw; 
    height: 98vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.map {
    width: 90vw;
    height: 90vh;
    background-image: url('Pictures/Map.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.house {
    width: 250px;
    height: 250px;
    position: absolute;
    background-image: url('Pictures/House.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#player1 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('path/to/your/player-image.png');
    top: 400px;
    left: 400px;
    z-index: 10;
    background-size: contain;
}
