#body1 {
    margin: 0%;
    padding: 0%;
    border: 0;
    color: black;
    background-color: black;
}

/* Style for the game window */
.gamewindow {
    width: 99vw; /* Full width of the viewport */
    height: 98vh; /* Full height of the viewport */
    margin: 0; /* No margin */
    display: flex; /* Using flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: black; /* Background color black */
    overflow: hidden; /* No scrolling */
}

/* Style for the map */
.map {
    width: 90vw; /* 90% of the viewport width */
    height: 90vh; /* 90% of the viewport height */
    background-image: url('Pictures/Map.png'); /* Ensure the path is correct */
    background-size: 100% 100%; /* Cover the whole area of .map */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image in the div */
}


/* House */
.house {
    width: 250px; /* Set the desired width of the house */
    height: 250px; /* Set the desired height of the house */
    position: absolute; /* Position absolutely within the map */
    background-image: url('Pictures/House.png'); /* Ensure the path to your house image is correct */
    top: 50%; /* Center the house vertically */
    left: 50%; /* Center the house horizontally */
    transform: translate(-50%, -50%); /* Offset the house by half its width and height to center it perfectly */
    background-size: 150% 100%; /* Stretch the image to fill the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image within the house div */
}



/* Player */
#player1 {
    width: 50px; /* Width of the player */
    height: 50px; /* Height of the player */
    position: absolute; /* Position absolutely within the map */
    background-image: url('path/to/your/player-image.png'); /* Add your player sprite */
    top: 400px; /* Starting top position */
    left: 400px; /* Starting left position */
    z-index: 10; /* Ensure the player is above other items */
    background-size: contain; /* Ensures the image fits the div size */
}
